@media(max-width: 768px){
    .container {
        height: 100%;
    }
    .section {
        flex-direction: column;
        margin: 30px 0;
    }
    .card {
        height: 475px;
    }
    .card p {
        margin-bottom: 60px;
    }
    .sedans {
        border-end-start-radius: 0;
        border-start-end-radius: 10px;
    }
    .luxury {
        border-start-end-radius: 0px;
        border-end-start-radius: 10px;
    }
}